body,html{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei UI";
    color: #333;
}
body {
    padding-top: 70px;
}
p{
    padding:0;
    margin:0;
}
.Signout{
    padding:15px;
    cursor: pointer;
}
.LoginName{
    display: inline-block;
    margin-left:5px;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.BigBox{
    width:1200px;
    height:auto;
    margin:50px auto;
}
.left{
    float: left;  
}
.right{
    float: right;
}
.clear{
    clear: both;
}