body,html{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei UI";
    color: #333;
}
body {
    padding-top: 70px;
}
p{
    padding:0;
    margin:0;
}
.Signout{
    padding:15px;
    cursor: pointer;
}
.LoginName{
    display: inline-block;
    margin-left:5px;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.BigBox{
    width:1200px;
    height:auto;
    margin:50px auto;
}
.left{
    float: left;  
}
.right{
    float: right;
}
.clear{
    clear: both;
}

.Reserve,.Sure{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    z-index: 1031;
    display: none;
}
.ReserveBox{
    width:420px;
    height:230px;
    background: #fff;
    position: absolute;
    top:20%;
    left:0;
    right:0;
    margin:auto;
}
.ReserveBox>p{
    width:100%;
    height:40px;
    line-height: 40px;
    padding:0 10px;
    background: #f3f3f3;
}
.ReserveBox>p img{
    float: right;
    cursor: pointer;
    margin-top:15px;
}
.ReserveBox>div{
    margin:20px 120px;
}
.ReserveBox>.ReserveBtn{
    width:120px;
    height:30px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background: #FF6715;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin:30px auto;
}
.ReserveBox input{
    width:100px;
}
.SureBox{
    width:320px;
    height:130px;
    background: #fff;
    position: absolute;
    top:20%;
    left:0;
    right:0;
    margin:auto;
}
.Sure p{
    padding:20px 10px;
    text-align: center;
    font-size: 18px;
}
.Sure div{
    text-align: center;
}
.Sure div span{
    display: inline-block;
    width:80px;
    height:26px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background: #FF6715;
    color: #fff;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    margin:10px auto;
}
