body,html{
    width:100%;
    height:100%;
}
.logBox{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.logBack{
    width:100%;
    height:100%;
}
.logCenter{
    width:500px;
    height:300px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background: #fff;
    position: absolute;
    top:20%;
    left:0;
    right:0;
    margin:auto;
    overflow: hidden;
    border:1px solid #d6d6d6;
}
.logCenter>p{
    width:100%;
    height:72px;
    line-height: 72px;
    background: #fee8dc;
    font-size: 20px;
    padding-left:20px;
}
.loginput{
    width:316px;
    height:auto;
    margin:0 auto;
    padding-top:30px;
}
.loginput input{
    width:100%;
    height:34px;
    font-size: 14px;
    padding-left:36px;
    box-sizing: border-box;
}
.loginput>p{
    position: relative;
    margin-bottom:30px;
}
.loginput>p>img{
    width:16px;
    position: absolute;
    top:7px;
    left:10px;
}
.loginput .logBtn{
    width:100%;
    height:34px;
    background: #FC7C35;
    border:1px solid #d6d6d6;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 34px;
}
.loginput .logBtn:hover{
    background: rgba(255,124,52,0.8);
}
.errorword{
    position: absolute;
    top:40px;
    left:36px;
    font-size: 12px;
    color: rgb(224, 34, 23);
    display: none;
}




