<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/canteen.css">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/AdminCanteen.css">
</head>

<body>
{% include "navhead.html" %}
<div class="BigBox Canteen">

    <div class="canteenLeft left">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">订单列表</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">订单统计</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <table class="table">
                        <!--tr 里面的 th  需要根据当天的日期来定   每天的菜品不一样   表头也不一样-->
                        <tr>
                            <th>用户名</th>
                            <th>土豆</th>
                            <th>黄瓜</th>
                            <th>馒头</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <table class="table">
                        <!--tr 里面的 th  需要根据当天的日期来定   每天的菜品不一样   表头也不一样-->
                        <tr>
                            <th>菜名</th>
                            <th>数量</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>

                        </tr>
                        <tr>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="canteenRight right">
        <div id="calendar" class="calendar"></div>
    </div>
    <div class="clear"></div>

</div>



</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/default.js"></script>
</html>
