<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link href="css/star.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/canteenList.css">
</head>
<body>
    {% include "navhead.html" %}
    <div class="canteenList">
        <div class="canteenListTop">
            <div class="left">
                <img src="{{ R['pic_src'] }}" alt=""   id="{{ R['id'] }}">
            </div>
            <div class="left">
                <h4>{{ R['dish_name'] }}</h4>
                <p>
                    综合评分: <span class="canteenListfraction">{{ R['average_score'] }} </span>
                </p>
                <p>
                    <span>食材: </span>{{ R['material'] }}
                </p>
            {% if R['order'] == 1 %}
                <div class="canteenmenuBtn">立即预定</div>
            {% end %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="canteenListCenter">
            <div class="canteenCenterStart">
                <input style="display:none" id="rating" name="serving" value="0" type="txt">
                <span>评价：</span>
                <ul class="Star">
                {% if not user_comment %}
                    <li>
                    <span class="Select">
                        <a class="star" onMouseOver="javascript:setProfix('star_');showStars(1,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(1,'rating');">
                            <img id="star_1" title="差(1)" src="img/icon_star_1.gif"></a>
                        <a class="star" onMouseOver="javascript:setProfix('star_');showStars(2,'rating');"onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(2,'rating');">
                            <img id="star_2" title="一般(2)" src="img/icon_star_1.gif"></a>
                        <a class="star" onMouseOver="javascript:setProfix('star_');showStars(3,'rating');"onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(3,'rating');">
                            <img id="star_3" title="好(3)" src="img/icon_star_1.gif"></a>
                        <a class="star" onMouseOver="javascript:setProfix('star_');showStars(4,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(4,'rating');">
                            <img id="star_4" title="很好(4)" src="img/icon_star_1.gif"></a>
                        <a class="star" onMouseOver="javascript:setProfix('star_');showStars(5,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(5,'rating');">
                            <img id="star_5" title="非常好(5)" src="img/icon_star_1.gif"></a>
                    </span>
                    </li>
                {% else %}
                    {% for i in xrange(R['average_score']) %}
                        <li><img src="img/icon_star_2.gif"></li>
                    {% end %}
                    {% for i in xrange(5-R['average_score']) %}
                        <li><img src="img/icon_star_1.gif"></li>
                    {% end %}
                {% end %}
                </ul>
            </div>
            {% if not user_comment %}
            <textarea name="evaluate" id="evaluate" cols="30" rows="10" placeholder="最多可输入200字~" maxlength="200"></textarea>
            <div class="UpdataBtn">提交评论</div>
            {% end %}
        </div>
        <div class="canteenListBottom">
            {% for e in C %}
                <div class="canteenListEva">
                    <div class="left canteenListEvausername">
                        <img src='img/username.png' alt="">
                        <p>{{ e['user_id'] }}</p>
                    </div>
                    <div class="left canteenListEvauserword">
                        <p>评分:<span>{{ e['stars']}}</span></p>
                        <p>评论：<span>{{ e['content'] }} </span></p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% end %}
        </div>
    </div>

<div class="Reserve">
    <div class="ReserveBox">
        <p> 预定 <img src="img/close.png" class="ReserveClose" alt=""> </p>
        <div>时间：<span>{{today}}</span></div>
        <div>份数：<input type="number" min=1 max=1000></div>
        <div class="ReserveBtn">确定</div>
    </div>
</div>


</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/default.js"></script>
<script src="js/star.js"></script>
<script src="js/canteenList.js"></script>
</html>
