<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/canteen.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">中国人民银行</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/canteen">食堂智能服务 <span class="sr-only">(current)</span></a></li>
                <li><a href="/meeting">会议智能服务</a></li>
                <li><a href="/property">物业智能服务</a></li>
                <li><a href="/notice">公告及调查问卷</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>您好</span><span class="LoginName">Hello</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="PersonalCenter.html">个人中心</a></li>
                        <li><a href="Orderlist.html">订单列表</a></li>
                    </ul>
                </li>
                <li><div class="Signout">退出</div></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="BigBox Canteen">
    <h3>食堂菜谱</h3>
    <div class="canteenLeft left">

    </div>
    <div class="canteenRight right">
        <div id="calendar" class="calendar"></div>
    </div>
    <div class="clear"></div>

</div>


<div class="Reserve">
    <div class="ReserveBox">
        <p> 预定 <img src="img/close.png" class="ReserveClose" alt=""> </p>
        <div>时间：<span>2017.07.04</span></div>
        <div>份数：<input type="number"></div>
        <div class="ReserveBtn">确定</div>
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/canteen.js"></script>
<script src="js/default.js"></script>
</html>
