<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/canteen.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
{% include "navhead.html" %}
<div class="BigBox Canteen">
    <h3>食堂菜谱</h3>
    <div class="canteenLeft left">
    </div>
    <div class="canteenRight right">
        <div id="calendar" class="calendar"></div>
    </div>
    <div class="clear"></div>

</div>


<div class="Reserve">
    <div class="ReserveBox">
        <p> 预定 <img src="img/close.png" class="ReserveClose" alt=""> </p>
        <div>时间：<span>{{today}}</span></div>
        <div>份数：<input type="number"></div>
        <div class="ReserveBtn">确定</div>
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/canteen.js"></script>
<script src="js/default.js"></script>
</html>
