<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link href="css/star.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/canteenList.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">中国人名银行</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="canteen.html">食堂智能服务 <span class="sr-only">(current)</span></a></li>
                <li><a href="meeting.html">会议智能服务</a></li>
                <li><a href="property.html">物业智能服务</a></li>
                <li><a href="notice.html">公告及调查问卷</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>您好</span><span class="LoginName">Hello</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="PersonalCenter.html">个人中心</a></li>
                        <li><a href="Orderlist.html">订单列表</a></li>
                    </ul>
                </li>
                <li><div class="Signout">退出</div></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
    <div class="canteenList">

        <div class="canteenListCenter">
            <div class="canteenCenterStart">
                <input style="display:none" id="rating" name="serving" value="0" type="txt">
                <span>评价：</span>
                <ul class="Star">
                    <li>
                    <span class="Select">
                        <a onMouseOver="javascript:setProfix('star_');showStars(1,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(1,'rating');">
                            <img id="star_1" title="差(1)" src="img/icon_star_1.gif"></a>
                        <a onMouseOver="javascript:setProfix('star_');showStars(2,'rating');"onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(2,'rating');">
                            <img id="star_2" title="一般(2)" src="img/icon_star_1.gif"></a>
                        <a onMouseOver="javascript:setProfix('star_');showStars(3,'rating');"onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(3,'rating');">
                            <img id="star_3" title="好(3)" src="img/icon_star_1.gif"></a>
                        <a onMouseOver="javascript:setProfix('star_');showStars(4,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(4,'rating');">
                            <img id="star_4" title="很好(4)" src="img/icon_star_1.gif"></a>
                        <a onMouseOver="javascript:setProfix('star_');showStars(5,'rating');" onMouseOut="javascript:setProfix('star_');clearStars('rating');" href="javascript:setProfix('star_');setStars(5,'rating');">
                            <img id="star_5" title="非常好(5)" src="img/icon_star_1.gif"></a>
                    </span>
                    </li>
                </ul>
            </div>
            <textarea name="evaluate" id="evaluate" cols="30" rows="10" placeholder="最多可输入200字~" maxlength="200"></textarea>
            <div class="UpdataBtn">提交评论</div>
        </div>
        <div class="canteenListBottom">

        </div>
    </div>

<div class="Reserve">
    <div class="ReserveBox">
        <p> 预定 <img src="img/close.png" class="ReserveClose" alt=""> </p>
        <div>时间：<span>2017.07.04</span></div>
        <div>份数：<input type="number"></div>
        <div class="ReserveBtn">确定</div>
    </div>
</div>


</body>
<script src="js/jquery-1.12.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/default.js"></script>
<script src="js/star.js"></script>
<script src="js/canteenList.js"></script>
</html>