<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="logBox">
        <form method="post" action="/login">
        {% raw xsrf_form_html() %}
        <div class="logCenter">
            <p> Swift </p>
            <div class="loginput">
                <p>
                    <img src="img/username.png" alt="">
                    <input class="logname" type="text" name="username">
                </p>
                <p>
                    <img src="img/password.png" alt="">
                    <input class="logpass" type="password" name="password">
                    <span class="errorword">用户名，密码不能为空</span>
                </p>
                <div class="logBtn"><input type="submit">立即登录</input></div>
            </div>
        </div>
        </form>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
</html>
