<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/OrderList.css">
</head>
<body>
{% include "navhead.html" %}
<div class="OrderList">
    <h4>订单列表</h4>
    <div class="OrderListBox">
        {% for e in olist %}
            <div class="OrderListBoxCenter">
                <img src="{{ e['img_url'] }}" alt="" >
                <span>{{ e['dish_name'] }}</span>
                <span>{{ e['num'] }}</span>
                <span>{{ e['time'] }}</span>
            </div>
        {% end %}
        <!--<div class="OrderListBoxCenter">-->
            <!--<img src="img/97.jpg" alt="">-->
            <!--<span>凉拌三丝</span>-->
            <!--<span>10份</span>-->
            <!--<span>2017.7.4</span>-->
        <!--</div>-->
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/default.js"></script>
<script src="js/OrderList.js"></script>
</html>
