<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/PersonalCenter.css">
</head>
<body>
{% include "navhead.html" %}
<div class="PersonalCenter">
    <h4>修改密码</h4>
    <div class="PersonalCenterBox">
        <div><span>初始密码：</span><input id="old" type="password" ></div>
        <div><span>新密码：</span><input id="new1" type="password" ></div>
        <div><span>确认密码：</span><input id="new2" type="password" ></div>
        <div><span></span><input type="submit" class="SurePassword" value="确认修改"></div>
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/default.js"></script>
<script src="js/PersonalCenter.js"></script>
</html>
