<!DOCTYPE html>
<html>
    <head>
        <title>注册</title>
        <script type="text/javascript">
            window.onload = function() {
                countDown(3);
            }
            function countDown(sec) {
                if (sec > 0) {
                    content = sec + "秒后返回注册页";
                    sec--;
                    content = "<a href=\"/login\">" + content + "</a>";
                    document.getElementById("tips").innerHTML = content;
                    setTimeout("countDown(" + sec + ")", 1000);
                } else {
                    window.location.assign("/login");
                }
            }
        </script>
    </head>
    <body>
        <p>
{%
    if ret == 0
%}
        注册成功
        <script>
            setTimeout(function() { window.location.assign("/login");}, 3000);
        </script>
{%
    elif ret == -1
%}
        用户名或密码为空
{%
    elif ret == 1
%}
        用户名已经存在
{% end %}
        </p>
        <p id="tips"></p>
    </body>
</html>

