<!DOCTYPE html>
<html>
    <head>
        <title>食堂管理系统</title>
        <script type="text/javascript">
        </script>
        <style type="text/css">
            ul li, #logout{
                list-style: none;
                float: left;
                display: block;
                padding: 8px 50px;
                background: transparent;
                text-decoration: none;
            }
            #logout {
                float: right;
            }
        </style>
    </head>
    <body>
        <div id="navfirst">
            <ul id="navmenu">
                <li id="menu">
                    <a id="today_menu" href="/menu/today">今日菜谱</a>
                </li>
                <li id="menu_order">
                    <a id="food_order" href="/menu/order">餐食预定</a>
                </li>
            </ul>
        </div>
        <div>
            <li id="logout">
                <a id="a_logout" href="/logout">退出</a>
            </li>
        </div>
    </body>
</html>

