<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>录入今日菜谱</title>
        <style type="text/css">
            #slab {
                width: 50px;
                height: 50px;
            }
            img {
                width: 180px;
                height: 240px;
            }
        </style>
        <script type="text/javascript">
            window.onload = init;
            function init() {
            }
            function addon() {
                form = document.createElement("form");
                _xsrf = document.getElementsByName("_xsrf")[0].value;
                form.action = "/up" + "?_xsrf=" + _xsrf;
                form.method = "post";
                form.enctype = "multipart/form-data";
                file = document.createElement("input");
                file.type = "file";
                file.name = "file";
                form.appendChild(file);
                submit = document.createElement("input");
                submit.type = "submit";
                submit.value = "submit";
                form.appendChild(submit);
                div = document.getElementsByClassName("add_list_div")[0];
                div.appendChild(form);
            }
            function menu_list_display(para) {
                data = para['list'];
                host = "http://192.168.3.18:8000";
                target = document.getElementsByClassName("menu_list_ul")[0];
                for (var i = 0; i < data.length; ++i) {
                    d = document.createElement("li");
                    e = "name=" + data[i][0] + "<br>";
                    e += "<img src=\"" + host + "/" + data[i][1] + "\">";
                    e += "<br>";
                    e += "date:" + data[i][2];
                    d.innerHTML = e;
                    target.appendChild(d);
                }
            }
        </script>
    </head>
    <body>
        <div class="menu_list_div">
            <ul class="menu_list_ul">
            </ul>
        </div>
        <div class="add_list_div">
            {% raw xsrf_form_html()  %}
            <button type="button" onclick="addon()">添加</button>
        </div>
    </body>
    <script src="http://192.168.3.18:8000/menu_list?callback=menu_list_display"></script>
</html>
