<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>录入今日菜谱</title>
        <style type="text/css">
            #slab {
                width: 50px;
                height: 50px;
            }
            img {
                width: 180px;
                height: 240px;
            }
            #addpic {
                width: 100px;
                height: 100px;
                border: bold;
                margin-left: 4%;
            }
            #logout {
                float: right;
            }
            .star {
                line-height: 0px;
            }
            .div_body {
                margin-left:25%;
                margin-right:25%;
            }
            .div_calender {
                float: right;
                margin-right: 25%;
            }
        </style>
        <script type="text/javascript">
            window.onload = init;
            function init() {
            }
            function addon() {
                form = document.createElement("form");
                this.form = form;
                _xsrf = document.getElementsByName("_xsrf")[0].value;
                form.action = "/up" + "?_xsrf=" + _xsrf;
                form.method = "post";
                form.enctype = "multipart/form-data";
                file = document.createElement("input");
                file.type = "file";
                file.name = "file";
                form.appendChild(file);
                submit = document.createElement("input");
                submit.type = "submit";
                submit.value = "submit";
                cancel = document.createElement("button");
                cancel.type = "button";
                cancel.innerHTML = "cancel";
                cancel.onclick = "cancel()";
                form.appendChild(submit);
                form.appendChild(cancel);
                div = document.getElementsByClassName("add_list_div")[0];
                div.appendChild(form);
                this.cancel = function cancel() {
                    document.removeChild(this.form);
                }
            }
            function menu_list_display(para) {
                data = para['list'];
                host = "http://localhost:8000";
                host = "http://192.168.3.18:8000";
                parent = document.getElementsByTagName("ul")[0];
                target = document.getElementsByTagName("li");
                for ( ; target.length; ) {
                    parent.removeChild(target[0]);
                }
                for (var i = 0; i < data.length; ++i) {
                    d = document.createElement("li");
                    e =  data[i][0] + "<br>";
                    e += "<img src=\"" + host + "/" + data[i][1] + "\">";
                    e += "<br>";
                    e += "<table class=\"star_table\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">";
                    e += "<tr class=\"star_row\"><td class=\"star_col1\">*****:</td>";
                    e += "<td class=\"star_col2\">" + data[i][3] + "</td></tr>";
                    e += "<tr class=\"star_row\"><td class=\"star_col1\">****:</td>";
                    e += "<td class=\"star_col2\">" + data[i][4] + "</td></tr>";
                    e += "<tr class=\"star_row\"><td class=\"star_col1\">***:</td>";
                    e += "<td class=\"star_col2\">" + data[i][5] + "</td></tr>";
                    e += "<tr class=\"star_row\"><td class=\"star_col1\">**:</td>";
                    e += "<td class=\"star_col2\">" + data[i][6] + "</td></tr>";
                    e += "<tr class=\"star_row\"><td class=\"star_col1\">*:</td>";
                    e += "<td class=\"star_col2\">" + data[i][7] + "</td></tr>";
                    e += "</table>";
                    d.innerHTML = e;
                    parent.appendChild(d);
                }
            }
            function dateclick() {
                var date = new Date();
                var m = date.getMonth() < 9 ? "0" + (date.getMonth()+1) : date.getMonth();
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var t = (date.getYear() + 1900) + '-' + m + '-' + day;
                var d = document.getElementById("date").value;
                if (d != t && d != "") {
                    document.getElementById("title").innerHTML = d + "日菜谱";
                }
                var r = document.getElementById("menu_list_display");
                if (r) {
                    var t = document.getElementsByTagName("body")[0];
                    t.removeChild(r);
                }
                var s = document.createElement("script");
                s.id = "menu_list_display";
                s.src = "http://192.168.3.18:8000/menu_list?d=" + d + "&callback=menu_list_display";
                body = document.getElementsByTagName("body")[0];
                body.appendChild(s);
            }
        </script>
    </head>
    <body>
    <div class="div_body">
        <div class="title">
            <h1 id="title">今日菜谱</h1>
            <a id="logout" href="/logout">退出</a>
        </div>
        <div class="div_calender">
            <input type="date" id="date">
            <button type="button" onclick="dateclick()">Go</button>
        </div>
        <div class="menu_list_div">
            <ul class="menu_list_ul">
            </ul>
        </div>
{% if username == "admin" %}
        <div class="add_list_div">
            {% raw xsrf_form_html()  %}
            <img id="addpic" src="/static/addpic.jpg" alt="添加图片" onclick="addon()">
        </div>
{% end %}
    </div>
    </body>
    <script id="menu_list_display" src="http://192.168.3.18:8000/menu_list?d=&callback=menu_list_display"></script>
</html>
