<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>录入今日菜谱</title>
        <script type="text/javascript">
            window.onload = init;
            function init() {
            }
            function upload_pic() {
            }
            function addon() {
                input = document.createElement("input");
                input.type = "file";
                t = document.getElementById("upload_pic");
                t.appendChild(input);
            }
        </script>
    </head>
    <body>
        <div id="upload_pic">
            <img id="slab" src="/static/food.png" onclick="addon()" />
        </div>
    </body>
</html>
